{% extends 'base.html.twig' %}

{% block title %}Support Portal{% endblock %}

{% block body %}
    <div class="row">
        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th>Summary</th>
                <th>Description</th>
                <th>Status</th>
                <th>Screenshot</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr>
                <td>{{ supportCase.summary }}</td>
                <td>{{ supportCase.description }}</td>
                <td>{{ supportCase.status.value }}</td>
                <td class="rounded mx-auto d-block"><img style="width: 180px;height: 150px"
                                                         src="{{ supportCase.imageUrl }}" alt="Not Loaded"></td>
            </tr>
            </tbody>
        </table>
    </div>
    {% if statuses is not empty %}
        <div class="btn-block">
            {% for key, status in statuses %}
                <a href="{{ path('change_support_case_status', {id: supportCase.id, status: status}) }}"
                   class="mt-1 ml-1 btn {% if status == supportCase.status.value %}btn-primary{% else %}btn-info{% endif %}">"{{ key }}"</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
